$blanco: #f3f3f3;
$color-text: #111111;
$select-color: #a7a7a7;
$button-blue: #005b8e;
$blur: #08080850;
.conteiner-BUR {
    background-color: rgba(240, 255, 255, 0);
    width: 80%;
    position: relative;
    margin: 15% auto auto auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.conteiner-BUR__BU {
    background-color: $blanco;
    width: 40%;
    height: 50%;
    margin: auto;
    border-radius: 15px 15px 15px 15px;
    -webkit-box-shadow: 12px 12px 11px 3px rgba(0, 0, 0, 0.61);
    box-shadow: 12px 12px 11px 3px rgba(0, 0, 0, 0.61);
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    flex-basis: fit-content;
}

.conteiner-BUR__R {
    background-color: $blanco;
    width: 40%;
    height: 50%;
    margin: auto;
    border-radius: 15px 15px 15px 15px;
    -webkit-box-shadow: 12px 12px 11px 3px rgba(0, 0, 0, 0.61);
    box-shadow: 12px 12px 11px 3px rgba(0, 0, 0, 0.61);
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    flex-basis: fit-content;
}

h1 {
    text-align: center;
}

.conteiner-BUR_R__form {
    display: flex;
    flex-direction: column;
}

// input[type="file"] {
// }

.archivo {
    background-color: #005b8e;
    border-radius: 15px 15px 15px 15px;
    width: 80%;
    height: 4vh;
    margin: auto;
    padding: 1%;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.archivoP {
    color: #ffffff;
    margin: -1% 0% 0% 0%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 300px;
}

.file-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 5%;
}
.subidor {
    width: 100%;
    height: 100%;
    border:#005b8e dotted 2px;
}
.subidor__p {
    color: #005b8e;
    position: relative;
    font-size: 20px;;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    z-index: 1;
}

.file-upload__input {
    width: 100%;
    height: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    opacity: 0;
    border: none;
    cursor: pointer;
    z-index: 1;
    position: relative;
    background-color: #b15252;
}


.fileNames-container {
    background-color: #c5c5c5;
    width: auto;
    height: auto;
    max-height: 15vh;
    margin-bottom: 2%;
    overflow: auto;
}