/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

#bg {
  position: fixed;
  top: 0;
  left: 0;
}
.bg {
  width: 100%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main{
    margin-left: 78px;
    margin-top: 6vh;
}
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 14.5em;
  background: #005B8E;
  z-index: 100;
  transition: all 0.5s ease;
  max-width: 14.5em;
}
.sidebar.close{
  width: 4em;
  min-width: 3em;
}
.sidebar .logo-details{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i{
  font-size: 50px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}
.sidebar .logo-details .logo_name{
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
  margin-left: 15%;
}
.sidebar.close .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links{
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links{
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
  display: none;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover{
  background: #005B8E;
}
.sidebar .nav-links li .iocn-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link{
  display: block
}
.sidebar .nav-links li i{
  height: 70px;
  min-width: 75px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 1.5rem;
  max-width: 80px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow{
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow{
  display: none;
}
.sidebar .nav-links li .a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li .a .link_name{
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
  text-align: initial;
  margin-bottom: 12%;
}
.sidebar.close .nav-links li .a .link_name{
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li .sub-menu{
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #005B8E;
  display: none;
}
.sidebar .nav-links li.showMenu .sub-menu{
  display: block;
}
.sidebar .nav-links li .sub-menu .a{
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 1;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu .a:hover{
  opacity: 1;
}
.sidebar.close .nav-links li .sub-menu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name{
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank{
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank{
  top: 50%;
  transform: translateY(-50%);
}
.sidebar .profile-details{
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #005B8E;
  padding: 12px 0;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details{
  background: none;
}
.sidebar.close .profile-details{
  width: 78px;
}
.sidebar .profile-details .profile-content{
  display: flex;
  align-items: center;
}

.sidebar.close .profile-details i{
  padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}

.sidebar .profile-details .job{
  font-size: 12px;
}
.home-section{
  position: relative;
  background: #003a5b;
  height: 10%;
  left: 14.3em;
  width: calc(100% - 14.3em);
  transition: all 0.5s ease;
}
.sidebar.close ~ .home-section{
  left: 4em;
  width: calc(100% - 4em);
}
.home-section .home-content{
  height: 60px;
  display: flex;
  align-items: center;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text{
  color: #fff;
  font-size: 35px;
}
.home-section .home-content .bx-menu{
  margin: 0px 0px 0px 0.5em;
  cursor: pointer;
}
.home-section .home-content .bx-menu.close{
  margin: 0px 0px 0px 0.5em;
  cursor: pointer;
}
.home-section .home-content .text{
  font-size: 26px;
  font-weight: 600px;
}
@media (max-width: 420px) {
  .sidebar.close .nav-links li .sub-menu{
    display: none;
  }
}
 .link{
   text-decoration: none;
   bottom: unset;
 }

 .li{
   color: #fff;
   font-size: 0.85rem;
   opacity: 0.8;
   margin-bottom: 2%;
   margin-top: 2%;
 }

 .li:hover {
   opacity: 1;
 }