$blanco: #F3F3F3;
$color-text: #111111;
$select-color: #a7a7a7;
$button-blue: #005b8e;
$blur: #08080850;
.conteiner-exportdata {
    background-color: $blanco;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 10%; 
    border-radius: 15px 15px 15px 15px;
    -webkit-box-shadow: 12px 12px 11px 3px rgba(0,0,0,0.61); 
    box-shadow: 12px 12px 11px 3px rgba(0,0,0,0.61);
    position: relative;
}

.conteiner-exportdata__tile{
    margin-top: 2%;
    margin-bottom: 2%;
}

input[type="button"].conteiner-exportdata__button{
    background-color: $button-blue;
    border: none;
    color: $blanco;
    padding: 15px 5%;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.3rem;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 10px 20px;
    transition: all 0.3s ease-in-out;
}


/* Loader */
.loader{
    width: 100%;
    height: 100%;
    background-color: $blur;
    position: fixed;
    
}

.loader__contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: relative;
    margin-top: 18%;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
    width: 20%;
    height: 20%;
    border-radius: 15px;
    background-color: $blanco;
    -webkit-box-shadow: 12px 12px 11px 3px rgba(0,0,0,0.61); 
    box-shadow: 12px 12px 11px 3px rgba(0,0,0,0.61);
}

.loader__contenedor .label {
    font-size: 1.5rem;
}

.loader__contenedor .animation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    position: relative;
    width: 60%;
    height: 60%;
}

.circle {
    width: 5%;
    height: 10%;
    background-color: $button-blue;
    border-radius: 100px;
    margin-left: 1%;
    margin-right: 1%;
    display: inline-block;
}

.loader__contenedor .circle:nth-last-child(1) {
    animation: loading 0.6s 0.1s linear infinite;
}
.loader__contenedor .circle:nth-last-child(2) {
    animation: loading 0.6s 0.2s linear infinite;
}
.loader__contenedor .circle:nth-last-child(3) {
    animation: loading 0.6s 0.3s linear infinite;
}

@keyframes loading{
    0% {
        transform: translate(0, 0);
    } 
    50% {
        transform: translate(0, 15px);
    }
    100% {
        transform: translate(0, 0);
    }
}