$blanco: #F3F3F3;
$color-text: #111111;
$select-color: #a7a7a7;

.contenedorRerportes {
    background-color: rgba(0, 255, 255, 0);
    width: 96%;
}

.contenedorMasterReporte {
    background-color: $blanco;
    margin-top: 5%;
    margin-bottom: 5%;
    width:100%;
    -webkit-box-shadow: 12px 12px 11px 3px rgba(0,0,0,0.61); 
    box-shadow: 12px 12px 11px 3px rgba(0,0,0,0.61);
    border-radius: 1em;
}


.contenedorMaterReporteTable {
    padding: 0 0 1% 0;
 }
.tbody-ReportesCheck {
    display: contents;
}

.table-ReportesCheck{
    table-layout: fixed;
    width: 90%;
    margin: auto auto 2% auto;
}

.container-ReportesCheck {
    background-color: $blanco;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 96%;
    margin-left: 4%;
    margin-top: 0; 
    margin-bottom: 0;
    border-radius: 0;
    -webkit-box-shadow: 0px 0px 0px 0px #000000; 
    box-shadow: 0px 0px 0px 0px #000000;
    position: relative;
   
}

.ReportesCheck-search {
    background-color: $blanco;
    margin-top: 2%;
    margin-bottom: 2%;
    width:96%;
    -webkit-box-shadow: 12px 12px 11px 3px rgba(0,0,0,0.61); 
    box-shadow: 12px 12px 11px 3px rgba(0,0,0,0.61);
    border-radius: 1em;
}

h2.Reportes-Check {
    display: block;
    font-size: 1.5em; 
    margin-top: 0; 
    margin-bottom: 0; 
    margin-left: 0; 
    margin-right: 0; 
    font-weight: bold;
}

h3.Reportes-Check {
    margin-top: 2%; 
}

/* inputs */
input[type="text"].input-report-check-search,
input[type="password"].input-report-check-search,
input[type="email"].input-report-check-search {
  font-size: 1rem;
  background-color: #3797ce00;
  padding: 10px 0px 10px 0px;
  display: inline-block;
  width: 30vw;
  border: none;
  border-bottom: 1px solid $blanco;
  text-decoration: none;
  color: $color-text;
}

input[type="text"].input-report-check-search.hidden,
input[type="password"].input-report-check-search.hidden,
input[type="email"].input-report-check-search.hidden {
  font-size: 1rem;
  background-color: #3797ce00;
  padding: 10px 0px 10px 0px;
  display: inline-block;    
  width: 30vw;
  border: none;
  border-bottom: 1px solid $blanco;
  text-decoration: none;
  color: $color-text;
  visibility: hidden;
}

.bottomBar.reportes-check 	{ 
    background: $color-text;
    position:absolute; 
    display:block; 
    height: 2px;
    width:30vw;
    left: 33%; 
}

.highlight.reportes-check {
position:absolute;
height:60%; 
width:100px; 
top:25%; 
left:33%;
pointer-events:none;
opacity:0.5;
}

label.reportes-check {
color:$color-text; 
font-size:1rem;
font-weight:normal;
position:absolute;
pointer-events:none;
left: 33%;
top: 45%;
transition:0.2s ease all; 
-moz-transition:0.2s ease all; 
-webkit-transition:0.2s ease all;
}

.form.group.reportes-check{
    margin-bottom: 1%;
}

.form.group.reportes-check.hidden{
    margin-bottom: 1%;
    visibility: hidden;
    width: 0px;
    height: 0px;
}

.search-button-dialog {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

fieldset.reportes-check{
    width: 15em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 5em;
    margin-bottom: 1%;
}

.search-button-dialog__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 40%;
}

.hidden{
    visibility: hidden;
}

.links {
    max-width: 20em;
    .archivo {
        background-color: #005b8e;
        border-radius: 15px 15px 15px 15px;
        width: 100%;
        height: 4vh;
        margin: auto;
        padding: 1%;
        text-align: center;
        margin-top: 2%;
        margin-bottom: 2%;
        transition: all 0.5s ease-in-out;

        .archivoP {
            margin: auto;
        }
    }

    &:hover {
        .archivo {
            background-color: #007dc5;
            border-radius: 15px 15px 15px 15px;
            width: 100%;
            height: 4vh;
            margin: auto;
            padding: 1%;
            text-align: center;
            margin-top: 2%;
            margin-bottom: 2%;

            .archivoP {
                margin: auto;
            }
        }
    }
}
.p {
    margin: auto;
}

.predictionCheck{
    color: #111111;
    list-style-type: none;
    text-align: center;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 2.1em;
    left: 33%;
    width: 30vw;
    z-index: 1;
    
    li {
        background-color: #DDD;
        transition: all 0.5s ease-in-out;

        &:hover {
            background-color: #9e9e9e;
        }

    }
    li:nth-child(even) {
        background-color: #f3f3f3;
        transition: all 0.5s ease-in-out;

        &:hover {
            background-color: #9e9e9e;
        }
    }
}