$blanco: #F3F3F3;
$color-text: #111111;
$select-color: #a7a7a7;
.containerUsuarios {
    background-color: $blanco;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin-left: 20%;
    margin-top: 5%; 
    margin-bottom: 0%;
    border-radius: 15px 15px 15px 15px;
    -webkit-box-shadow: 12px 12px 11px 3px rgba(0,0,0,0.61); 
    box-shadow: 12px 12px 11px 3px rgba(0,0,0,0.61);
    position: relative;
   
}

/* Entrada de datos */

.group.Usuarios	  { 
    position: relative; 
    margin-bottom: 5%;
  }

select-hidden {
  display: none;
  visibility: hidden;
}

select {
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  padding: 10px 10px 10px 5px;
  width: 27vw;
  border: none;
  border-bottom: 1px solid $blanco;
  text-decoration: none;
  color: $color-text;
  background-color: $blanco;
  transition: 0.2s ease all;
  position: relative;
  left: -5%;
  
  &:focus {
    outline:none;
  }

  &:focus ~ .bar:before, &:focus ~ .bar:after {
    width: 50%;
  }

  &:focus ~ label.Usuarios, &:valid ~ label.Usuarios {
    top:-25%;
    font-size:0.85rem;
    color:#111111;
  }
}

  
  
  input[type="text"].inputUsuarios,
  input[type="password"].inputUsuarios,
  input[type="email"].inputUsuarios {
    font-size: 1rem;
    background-color: #3797ce00;
    padding: 10px 10px 10px 5px;
    display: inline-block;
    width: 27vw;
    border: none;
    border-bottom: 1px solid $blanco;
    text-decoration: none;
    color: #111111;
    position: relative;
    left: -4%;
  }

   
  input[type="text"].inputUsuarios-search,
  input[type="password"].inputUsuarios-search,
  input[type="email"].inputUsuarios-search {
    font-size: 1rem;
    background-color: #3797ce00;
    padding: 10px 10px 10px 5px;
    display: inline-block;
    width: 30vw;
    border: none;
    border-bottom: 1px solid $blanco;
    text-decoration: none;
    color: #111111;
  }

  
  input[type="text"].inputUsuarios:focus,
  input[type="password"].inputUsuarios:focus,
  input[type="email"].inputUsuarios:focus {
    outline:none;
  }
  
  input.inputUsuarios:focus ~ .bar:before,  input.inputUsuarios:focus ~ .bar:after {
    width:50%;
  }
  
  label.Usuarios {
    color:#111111; 
    font-size:1rem;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left: 10%;
    top: 45%;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }

  label.Usuarios-search {
    color:#111111; 
    font-size:1rem;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left: 0%;
    top: 45%;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  
  input[type="text"].inputUsuarios:focus ~ label.Usuarios, 
  input[type="text"].inputUsuarios:valid ~ label.Usuarios,
  input[type="password"].inputUsuarios:focus ~ label.Usuarios,
  input[type="password"].inputUsuarios:valid ~ label.Usuarios,
  input[type="email"].inputUsuarios:focus ~ label.Usuarios,
  input[type="email"].inputUsuarios:valid ~ label.Usuarios 		{
    top:-25%;
    font-size:0.85rem;
    color:#111111;
  }
  
/* end of Invalid email style */


  .bottomBar.Usuarios 	{ 
    background: #111111;
    position:absolute; 
    display:block; 
    height: 2px;
    width:73%;
    left: 10%; 
  }

  .bottomBar.Usuarios-main 	{ 
    background: #111111;
    position:absolute; 
    display:block; 
    height: 2px;
    width:30vw;
    left: 0%; 
    
  }

  .bottomBar.inputUsuarios 	{ 
    background: #111111;
    position:absolute; 
    display:block; 
    height: 2px;
    width:73%;
    left: 10%; 
  }

  .bottomBar.Usuarios:before, .bottomBar.Usuarios:after 	{
    content:'';
    height:2px; 
    width:0;
    bottom: 0%; 
    position:absolute;
    background:#E00005; 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }

  .bottomBar.inputUsuarios:before, .bottomBar.inputUsuarios:after 	{
    content:'';
    height:2px; 
    width:0;
    bottom: 0%; 
    position:absolute;
    background:#111111; 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }

  .bottomBar.Usuarios:before {
    left:50%;
  }
  .bottomBar.Usuarios:after {
    right:50%; 
  }
  
  .bottomBar.inputUsuarios:before {
    left:50%;
  }
  .bottomBar.inputUsuarios:after {
    right:50%; 
  }

  input.inputUsuarios:focus ~ .bottomBar.Usuarios:before,  input.inputUsuarios:focus ~ .bottomBar.Usuarios:after {
    width:50%;
  }
  
  .highlight.Usuarios {
    position:absolute;
    height:60%; 
    width:100px; 
    top:25%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
  }

  .highlight.inputUsuarios {
    position:absolute;
    height:60%; 
    width:100px; 
    top:25%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
  }
/* Tabla */


  /*botones */
input[type="button"].button.Usuarios,
input[type="submit"].button.Usuarios,
input[type="reset"].button.Usuarios {
  background-color: #005b8e;
  border: none;
  color: white;
  padding: 15px 10px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1rem;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 10px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type="button"].button.Usuarios:hover,
input[type="submit"].button.Usuarios:hover,
input[type="reset"].button.Usuarios:hover {
  background-color: #003655;
  
}

input[type="button"].button.Usuarios:active,
input[type="submit"].button.Usuarios:active,
input[type="reset"].button.Usuarios:active {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

/*Botones eliminar
button Usuarios delete
*/

input[type="button"].button.Usuarios.delete,
input[type="submit"].button.Usuarios.delete,
input[type="reset"].button.Usuarios.delete {
  background-color: #b8000f;
  border: none;
  color: white;
  padding: 15px 10px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1rem;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 10px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type="button"].button.Usuarios.delete:hover,
input[type="submit"].button.Usuarios.delete:hover,
input[type="reset"].button.Usuarios.delete:hover {
  background-color: #9c000d;
}

input[type="button"].button.Usuarios.delete:active,
input[type="submit"].button.Usuarios.delete:active,
input[type="reset"].button.Usuarios.delete:active {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

/* Modal detalles buttons div */

.modal-detalles-usuario {
  display: flex-root;
}
/* Modal detalles labels */

.Usuarios-Detalles.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.6em;
  grid-auto-rows: minmax(5em, auto);
  margin-bottom: 3%;
}

.Usuarios-Detalles.one {
  grid-column: 1;
  grid-row: 1;
  background-color: #00365500;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Usuarios-Detalles.two {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #6cd13200;
}

.Usuarios-Detalles.three {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #3709a100;
}

.Usuarios-Detalles.four {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #97101000;
}


.bottomBar.Usuarios-Detalles {
  background: #111111;
  position: relative;
  height: 2px;
  left: -6%;
  right: 0%;
  width: 25vh;
  text-align: left;
}

p.Usuarios-Detalles {
  position: relative;
  left: -10%;
  right: 0;
  width: 20vh;
  text-align: left;
}

label.Usuarios-Detalles {
  color: gray;
  font-size: 1rem;
  font-weight: bold;
  position: relative;
  left: 0%;
  top: 0%;
  width: 30vh;
  text-align: left;
}

.Usuarios-Detalles.buttons {
  display: inline31;
}

.Usuarios-Detalles.checkbox {
  position: relative;
  width: 1.5em;
  height: 1.5em;
  margin: unset;
  top: 0.3em;
  left: 0.3em;
}
h2.Resaltado {
  font-style: oblique;
}
th{
  color: #fff;
}

// En caso de que no encuentre coincidencias en las busquedas
.kana{
  margin: 4% auto auto auto;
  width: 30%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
.Sin_Resultados {
  overflow: none;
  display: flex;
}

.containerDetallesUser{
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 0fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "Inputs Tablass"
    "Buttons Buttons";
    
    .Inputs{
      grid-area: Inputs;
      width: 37vw;

    }
    .Tablass{
      grid-area: Tablass;
      width: 37vw;
    }
    .Buttons{
      grid-area: Buttons;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      height: 10vh;
      width: 100%;
    }
}

.tablas{
  width: 100%;
  overflow-y: auto;
  height: 30vh;
  margin-bottom: 3%;
  margin: auto;
}