$background-color: #F3F3F3;
$background-opacity: #08080820;
$color-cooler-black: #080808;
$underLine: #E00005;
$border-color: #7f7f7f;

.Modal {
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    //padding: 50px;
    //padding-top: 1%;
    align-items: center;
    background-color: $background-opacity;
    -webkit-box-shadow: 12px 12px 11px 3px rgba(0,0,0,0.61); 
    box-shadow: 12px 12px 11px 3px rgba(0,0,0,0.61);
    justify-content: center;

    transition: 0.3s ease-in-out;
    overflow: auto;

    &.active {
        opacity: 1;
        visibility: visible;
    }

    &__close {
        position: absolute;
        top: 16px;
        right: 20px;
        font-size: 1.5rem;
        cursor: pointer;
        color: #7f7f7f;

        &:hover {
            color: #000;
        }
    }

}



.first, .second {
    border-radius: 15px;
    border-color: $border-color;
    border-style: solid;
    border-width: thin;
    margin-bottom: 10px;
    width: fit-content;
    height: fit-content;
    padding-left: 15px;
    padding-right: 15px;
}


.content.modal {
    min-width: 40vw;
    min-height: 100px;
    background-color: $background-color;
    position: relative;
    border-radius: 15px 15px 15px 15px;
    -webkit-box-shadow: 12px 12px 11px 3px rgba(0,0,0,0.61); 
    box-shadow: 12px 12px 11px 3px rgba(0,0,0,0.61);
    padding: 20px;
    margin: auto;
}

.header.modal {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $underLine;
    color: $color-cooler-black;
}

.header.modal.close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    border: none;
    background-color: none;
    cursor: pointer;
    color: $color-cooler-black;
}

.bx.bx-x{
    font-size: 30px;
    transition: .3s ease all;
    border-radius: 5px;
    
    &:hover{
        background-color: $background-opacity;
    }
}

.modalRecuperar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a{
        text-decoration: none;
        color: #000;
        width: 100%;
        text-align: center;
    }

}